@page "/"

@using ChessApp.Data;
@using ChessApp.Features.Chess;
@using BlazorState;
@using ChessApp.Shared.ChessBoard

@inherits BlazorStateComponent

<PageTitle>Play Chess</PageTitle>

<div class="chess-container">
    <ChessBoard></ChessBoard>
</div>

@code {
    async protected override Task OnInitializedAsync()
    {
        await Mediator.Send(new ChessState.StartGameAction());
    }
}