@page "/play-bot"

@using ChessApp.Data;
@using ChessApp.Features.Chess;
@using BlazorState;
@using ChessApp.Shared.ChessBoard


@inherits BlazorStateComponent
<PageTitle>Play Bot</PageTitle>

<div class="chess-container">
    <ChessBoard></ChessBoard>
</div>

@code {
    ChessState chessState => GetState<ChessState>();

    protected override void OnInitialized()
    {
        chessState.Initialize();
        chessState.Board.StartGame(Black: Player.RandomBot);
    }
}}