@page "/play-bot"

@using ChessApp.Data;
@using ChessApp.Features.Chess;
@using BlazorState;
@using ChessApp.Shared.ChessBoard


@inherits BlazorStateComponent
<PageTitle>Play Bot</PageTitle>

<div class="chess-container">
    <ChessBoard></ChessBoard>
</div>

@code {
    ChessState chessState => GetState<ChessState>();

    async protected override Task OnInitializedAsync()
    {
        chessState.Init();
    }


    //async protected override Task OnAfterRenderAsync(bool firstRender)
    //{
    //    if (chessState.Board.GameState == GameState.Playing)
    //    {
    //        if (chessState.Board.SideToMove == Side.White && chessState.Board.WhitePlayer != Player.You)
    //        {
    //            await Mediator.Send(new ChessState.MovePieceAction { Move = chessState.Board.OpponentMove(chessState.Board.WhitePlayer) });
    //        }
    //        else if (chessState.Board.SideToMove == Side.Black && chessState.Board.BlackPlayer != Player.You)
    //        {
    //            await Mediator.Send(new ChessState.MovePieceAction { Move = chessState.Board.OpponentMove(chessState.Board.BlackPlayer) });
    //        }
    //        else return;
    //    }
    //}

}