@page "/play-bot"

@using ChessApp.Data;
@using ChessApp.Features.Chess;
@using BlazorState;
@using ChessApp.Shared.ChessBoard


@inherits BlazorStateComponent
<PageTitle>Play Bot</PageTitle>

<div class="chess-container">
    <ChessBoard></ChessBoard>
</div>

@code {
    ChessState chessState => GetState<ChessState>();

    async protected override Task OnInitializedAsync()
    {
        Random rand = new Random();

        Player White = Player.You;
        Player Black = Player.You;

        if (rand.Next(2) == 1)
        {
            White = Player.SmartBot;
        } else
        {
            Black = Player.SmartBot;
        }

        await Mediator.Send(new ChessState.StartGameAction(white: White, black: Black));
    }

}