@using ChessApp.Data.Board
@using ChessApp.Data;

<div class="outer-box">
    <div class="inner-box @(board.isFlipped)">
        @for (char file = 'a'; file <= 'h'; file++)
        {
            @for (int rank = 1; rank <= 8; rank++)
            {
                <ChessSquare file=file rank=rank board=@board change="change" OnMove="b => change = b">
                    
                </ChessSquare>
            }
        }
    </div>
</div>


@code {
    Board board = new Board();
    public bool change = false;
    protected override void OnInitialized()
    {
    }
}
