.square {
    width: 12.5%;
    height: 12.5%;
    position: relative;
}

.dark {
    background-color: saddlebrown;
}

.light {
    background-color: mintcream;
    
}

.light p {
    color: saddlebrown;
}

.dark p {
    color: mintcream;
}

p {
    font-weight: 500;
    font-size: 1rem;
}

.rank-num {
    position: absolute;
    top: 3%;
    left: 3%;
    margin: 0;
}

.file-letter {
    position: absolute;
    right: 3%;
    bottom: 0;
    margin: 0;
}

.piece {
    object-fit: contain;
    width: 100%;
    height: 100%;
    cursor: grab;
}

.hidden {
   opacity: 0;
}

.fade-in {
    animation: fadeIn 0.025s;
}


.movingpiece {
    object-fit: contain;
    width: 150%;
    height: 150%;
    padding: 25%;
    margin: -25%; 
    position: absolute;
    cursor: grabbing !important;
    z-index: 6;
}


@media (min-width: 960px) {
    p {
        font-size: 1.25rem;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        background-color: black;
    }


    99% {
        opacity: 0;
        background-color: black;
    }

    100% {
        opacity: 1;
        display: contents;
    }
}