@using ChessApp.Data

<div class="outer-box">
    <div class="inner-box @side">
        @for (int file = 0; file < 8; file++)
        {
            @for (int rank = 0; rank < 8; rank++)
            {
                <ChessSquare file=file rank=rank side=@side piece=@GetPiece(file, rank)>
                    
                </ChessSquare>
            }
        }
    </div>
</div>


@code {
    public Piece[] board = new Piece[64];
    public string side = "white";

    protected override async Task OnInitializedAsync()
    {
        board[0] = Piece.WhiteKing;
    }
    

    public Piece GetPiece(int file, int rank)
    {
        return board[file + (8 * rank)];
    }
}
