@using ChessApp.Data.Board
@using ChessApp.Data;
@using ChessApp.Features.Chess;
@using BlazorState;

@inherits BlazorStateComponent

<div class="outer-box">
    <div class="inner-box @(isFlipped)">
        @for (char file = 'a'; file <= 'h'; file++)
        {
            @for (int rank = 1; rank <= 8; rank++)
            {
                <ChessSquare file=file rank=rank >
                    
                </ChessSquare>
            }
        }
        
    </div>
    
</div>


@code {
    ChessState chessState => GetState<ChessState>();
    private Boolean isFlipped => chessState.IsFlipped;
}
