.outer-box {
    max-height: 100%;
    max-width: 100%;
    width: 100%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    padding: 3%;
    overflow: hidden;
    user-select: none;
}

.inner-box {
    max-height: 100%;
    max-width: 100%;
    height: 100%;
    aspect-ratio: 1;
    display: flex;
    position: relative;
}

.box {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

.False {
    flex-direction: column-reverse;
    flex-wrap: wrap;
}

.True {
    flex-direction: column;
    flex-wrap: wrap-reverse;
}

.piece {
    object-fit: contain;
    width: 12.5%;
    height: 12.5%;
    z-index: 2;
    position: absolute;
}