@using ChessApp.Data;

 <div class="square @GetColour(file, rank)">
    <p class="file-letter">
        @if ((rank == 1 && side == "white") || (rank == 8 && side == "black"))
            {
                @file
            }    
    </p>
    <p class="rank-num">
        @if ((file == 'a' && side == "white") || (file == 'h' && side == "black"))
            {
            @rank
            }
    </p>
    @if (piece != Piece.None)
    {
        <img class="piece" src="images/@(piece).svg" />
    }
</div>

@code {
    [Parameter]
    public char file { get; set; }

    [Parameter]
    public int rank { get; set; }

    [Parameter]
    public Piece piece { get; set; }

    [Parameter]
    public string? side { get; set; }

    private string GetColour(char file, int rank)
    {
        if ((rank + file) % 2 == 0)
        {
            return "dark";
        }
        else
        {
            return "light";
        }
    }
}
