.outer-box {
    max-height: 100%;
    max-width: 100%;
    width: 100%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
}

.inner-box {
    max-height: 100%;
    max-width: 100%;
    height: 100%;
    aspect-ratio: 1;
    display: flex;
}

.False {
    flex-direction: column-reverse;
    flex-wrap: wrap;
}

.True {
    flex-direction: column;
    flex-wrap: wrap-reverse;
}

