@using ChessApp.Data;
@using ChessApp.Data.Board;
@using BlazorState
@using ChessApp.Features.Chess;

@inherits BlazorStateComponent

 <div @onmousedown="MouseDown" @onmouseup="MouseUp" class="square @Board.GetSquareColour(file, rank)">
    <p class="file-letter">
        @if ((rank == 1 && !isFlipped) || (rank == 8 && isFlipped))
            {
                @file
            }    
    </p>
    <p class="rank-num">
        @if ((file == 'a' && !isFlipped) || (file == 'h' && isFlipped))
            {
            @rank
            }
    </p>
    @if (piece != Piece.None)
    {
        <img draggable="false" 
             class="piece @moving"
             src="images/@(piece).svg"
         style="top: calc(@(mousePos.Y - start.Y)px - 50%); left: calc(@(mousePos.X - start.X)px - 50%)" />
    }
    
    <div class="inv"></div>
</div>

@code {
    [Parameter]
    public char file { get; set; }

    [Parameter]
    public int rank { get; set; }

    ChessState chessState => GetState<ChessState>();
    private Piece piece => chessState.GetPiece(file, rank);
    private bool isFlipped => chessState.IsFlipped;
    public Coord mousePos => chessState.MousePos;

    public Coord start = new Coord(0, 0);
    public string moving = "";

    async Task MouseDown(MouseEventArgs e)
    {
        if ((e.Buttons & 1) == 1) // If Left Click
        {
            start.X = (int)(e.PageX - e.OffsetX);
            start.Y = (int) (e.PageY - e.OffsetY);
            moving = "moving";
            await Mediator.Send(new ChessState.MoveMouseAction { MousePos = new Coord((int)e.PageX, (int) e.PageY) });
            
            // Set the Position In the state
        }
    }

    public void MouseUp(MouseEventArgs e)
    {
        if ((e.Buttons & 1) != 1) // If Left Not Left Clicking
        {
            Console.WriteLine($"MU {file}{rank}");
            // MovePiece with the Postion in the state and current
        }
    }
}
