@using ChessApp.Data;
@using ChessApp.Scripts.Chess;

<div class="promotion-box">
    @foreach (int move in moves)
    {
        <img @onclick="e => Click(move, e)" draggable="false" class="piece" src="images/@((Pieces)Move.Promoted(move)).svg" />
    }

    <div class="close" @onclick="e => Click(-1, e)">🗙</div>
</div>

@code {
    [Parameter]
    public Sides side { get; set; }

    [Parameter]
    public List<int> moves { get; set; }

    [Parameter]
    public EventCallback<int> OnMoveSelect { get; set; }


    async Task Click(int move, MouseEventArgs e)
    {
        await OnMoveSelect.InvokeAsync(move);
    }
}