<div class="promotion-box">
    <img draggable="false" class="piece" src="images/@(color)Queen.svg" />
    <img draggable="false" class="piece" src="images/@(color)Knight.svg" />
    <img draggable="false" class="piece" src="images/@(color)Rook.svg" />
    <img draggable="false" class="piece" src="images/@(color)Bishop.svg" />
</div>

@code {
    public string color = "White";
}