@*@using ChessApp.Data;

<div class="promotion-box">
    @foreach (Move move in moves)
    {
        <img @onclick="e => Click(move, e)" draggable="false" class="piece" src="images/@(side + $"{move.MoveFlag}".Remove(0, 9)).svg" />
    }
</div>

@code {
    [Parameter]
    public Side side { get; set; }

    [Parameter]
    public List<Move> moves { get; set; }

    [Parameter]
    public EventCallback<Move> OnMoveSelect { get; set; }


    async Task Click(Move move, MouseEventArgs e)
    {
        await OnMoveSelect.InvokeAsync(move);
    }
}*@