* {
  margin: 0; }

html, body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #262421;
  overflow: hidden;
  color: #ffffff; }

.link {
  color: #ffffff;
  text-decoration: none; }
